[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "blog/themes/hugo-bearblog"]
	path = blog/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
